    @font-face {
        font-family: 'replica';
        src: url('../fonts/VH1Replica-Bold.eot');
        /* IE9 Compat Modes */
        src: url('../fonts/VH1Replica-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/VH1Replica-Bold.woff') format('woff'), /* Modern Browsers */
        url('../fonts/VH1Replica-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/VH1Replica-Bold.svg#9caa965fe68157ead1ff820d6a079d87') format('svg');
        /* Legacy iOS */
        font-style: normal;
        font-weight: 400;
    }
    
    body {
        font-family: replica;
    }
    
    .output {
        max-width: 500px;
    }
    
    canvas {
        display: none;
    }
    
    .topbar1 {
        width: 100%;
        height: 50px;
        font-size: 30px;
        color: #fff;
        background-color: #6e00af;
    }
    
    .topbar2 {
        width: 100%;
        height: 50px;
        font-size: 30px;
        color: #fff;
        background-color: #8b00c3;
    }
    
    input[type="file"] {
        display: none;
    }
    
    .center {
        padding: 40px 15px;
        text-align: center;
    }
    
    .cropstuff {
        display: none;
    }
    .textstuff{
        display: none;

    }
    
    textarea {
        resize: none;
                outline: 1px solid black;
    }
    .imgcon
    {
        width: 500px;
        height: 500px;
        margin: auto;
        background-color: pink;
        overflow: hidden;
    }
    .cbox
    {
        width: 50px;
        height: 50px;
        background-color: green;
    }
